{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
 <form action="/forgot" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="username" type="text" required/>
        </div>
        <div>
        <h3>Please answer the security questions</h3>
        <div class="form-group">
        <table align="center">
          <tr>
            <td align="left"><label for="1">First Friend</label></td>
            <td align="left"><input autocomplete="off" id="1" autofocus class="form-control" name="firstfriend" placeholder="Type your answer" type="text"/></td>
          </tr>
<br>
          <tr>
            <td align="left"><label for="2">Favourite Book</label></td>
            <td align="left"><input autocomplete="off" id="2" autofocus class="form-control" name="favouritebook" placeholder="Type your answer" type="text"/></td>
          </tr><tr>
        </table>
        </div>
   </div>
   <div>
     <button class="btn btn-primary" type="submit">Submit</button>
   </div>
    </form>

{% endblock %}
